*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

main {
  position: relative;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/wavy.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  margin-top: 0px;
  margin: 0;
  color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.topnav {
  background-color: #21444b;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  height: 50px;
  z-index: 1;
}

.topnav h1 {
  margin-top: -3px;
  color: white;
  padding: 14px 16px;
  font-size: 17px;
  font-family: "Oswald", sans-serif;
  float: left;
  padding-left: 75px;
}

.topnav a:hover {
  cursor: pointer;
  color: rgb(112, 104, 104);
  transition: 0.3s;
}


.resume {
  text-align: center;
  margin: auto;
  padding-top: 75px;
  max-width: 400px;
}

.intro h2 {
  font-size: 30px;
}

.image {
  display: block;
  margin: auto;
  max-width: 700px;
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 25px;
}

.image:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.10);
  transition: .5s;
}

.projects {
  margin-top: 150px;
  text-align: center;
}

.projects h1 {
  margin-bottom: 10px;
}

.intropage {
  padding-bottom: 50px;
}

.skills {
  font-size: 25px;
}

.frame {
  margin-top: 20px;
  max-width: 1000px;
  display: block;
  margin: auto;
  border-bottom: 1px solid white;
  margin-bottom: 75px;
}

.frame p {
  margin-bottom: 30px;
}

.frame h3 {
  margin-top: 75px;
  padding-bottom: 25px;
}

.bio {
  max-width: 600px;
  text-align: center;
  margin: auto;
  width: 100%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin-bottom: 50px;
}

.imagelink {
  margin-bottom: 50px;
}

.demoLink {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.demoLink:hover {
  color: #21444b;
  transition: 0.3s;
}

.footer {
  background-color: #21444b;
  text-align: center;
  padding: 8px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer a {
  color: white;
}

.footerlink:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

button {
  background: hsl(205, 21%, 53%);
  color: #fff;
  border: none;
  position: relative;
  height: 50px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 200ms ease all;
  outline: none;
  display: block;
  margin: auto;
}

button:hover {
  background: #fff;
  color: #92a39f;
}

button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: hsl(205, 21%, 53%);
  transition: 400ms ease all;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

@media (max-width: 450px) {
  .topnav a {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    color: white;
    float: right;
    margin-top: 17px;
    margin-right: 15px;
  }

  .topnav h1 {
    color: white;
    padding: 14px 16px;
    font-size: 17px;
    font-family: "Oswald", sans-serif;
    float: left;
    padding-left: 5px;
  }
}

@media (min-width: 450px) {
  .topnav a {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    color: white;
    float: right;
    margin-top: 15px;
    margin-right: 50px;
  }
}
